$primary-text-color:#292D32;
$menu-text-color:#9197B3;
$menu-text-color-accent:#ffff;
$title-color:#000;
$menu-hover-color:#5932EA;
$table-header-color:#B5B7C0;
$subtitle-table-color:#16C098;
$backgroundcolor-product:#F9FBFF;
